body{
	background-color: #232323;
	margin: 0;
	font-family: Montserrat, sans-serif;
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 13px 0;
	font-size: 40px;
}
.square{
	background-color: red;
	width : 30%;
	height: 10%;
	padding-bottom: 25%;
	float: left;
	margin: 1.66%;
	border-radius: 25%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}
#message{
	display: inline-block;
	width: 30%;
	color: #3D069B;
	letter-spacing: 1px;
	font-weight: 500;
	padding-left: 5%;
}
#container{
	max-width: 600px;
	margin: 13px auto;
}
#strip{
	background: white;
	height: 30px;
	text-align: center;
}
button{
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	color: steelblue;
	transition: all 0.4s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}
.selected{
	color: white;
	background-color: steelblue;
}
#colorDisplay{
	font-size: 200%;
}