body{
	background-color: #232323;
	margin: 0;
	font-family: Montserrat, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 16px;
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 13px 0;
	font-size: 1.5rem;
	transition: background 0.5s;
}
@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}
}
button{
	appearance: none;
	background: none;
	border-style: none;
}
.square{
	background-color: transparent;
	border-radius: 2vmin;
	transition: background 0.5s;
}
#message{
	display: inline-block;
	color: #3D069B;
	letter-spacing: 0.0625em;
	font-weight: 500;
	margin-left: 1rem;
}
#container{
	flex: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1rem;
	grid-gap: 1rem;
}
#container button:focus{
	outline: 0;
	box-shadow: 0 0 0 5px white;
}
#strip{
	background: white;
	color: steelblue;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}
#strip button{
	background: none;
	height: 100%;
	border-style: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.0625em;
	font-size: inherit;
	color: inherit;
	transition: background 0.5s, color 0.5s;
	padding: 0.3em;
}
#difficulty {
	min-height: 100%;
}
#strip button:hover, #strip button.selected{
	color: white;
	background-color: steelblue;
}
#strip button:focus{
	outline: 2px solid black;
}
#colorDisplay{
	font-size: 200%;
}
