body{
	background-color: #232323;
	margin: 0;
	font-family: Montserrat, sans-serif;
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 13px 0;
	font-size: 40px;
	transition: background 0.5s;
}
button{
	appearance: none;
	background: none;
	border-style: none;
}
.square{
	background-color: transparent;
	width : 30%;
	height: 10%;
	padding-bottom: 25%;
	float: left;
	margin: 1.66%;
	border-radius: 25%;
	transition: background 0.5s;
}
#message{
	display: inline-block;
	width: 30%;
	color: #3D069B;
	letter-spacing: 1px;
	font-weight: 500;
	padding-left: 5%;
}
#container{
	max-width: 600px;
	margin: 13px auto;
}
#container button:focus{
	outline: 0;
	box-shadow: 0 0 0 5px white;
}
#strip{
	background: white;
	height: 30px;
	text-align: center;
}
#strip button{
	background: none;
	height: 100%;
	border-style: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	color: steelblue;
	transition: background 0.5s, color 0.5s;
}
#strip button:hover, #strip button.selected{
	color: white;
	background-color: steelblue;
}
#strip button:focus{
	outline: 2px solid black;
}
#colorDisplay{
	font-size: 200%;
}
